body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #1c1c2b; /* Color oscuro */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box {
    background: #2b2b3d;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: #3d3d5c;
    color: #ffffff;
}

.password-wrapper {
    position: relative;
}

input[type="password"] {
    width: calc(100% - 20px);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff;
}

.login-button {
    background: #7fd858;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background: #6dc14b;
}

.links a {
    color: #a0a0b8;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.links {
    margin-top: 10px;
}
